snippet stdo "process.stdout.write(message)" b
process.stdout.write($0)
endsnippet

snippet stringify "JSON.stringify(object)"
JSON.stringify($0)
endsnippet

snippet psw "process.stdout.write(\n)" wA
process.stdout.write(`$0\n`)
endsnippet
