snippet if "if-fi statement" b
if ${2:[[ ${1:condition} ]]}; then
	${3:#statements}
fi

${0}
endsnippet

snippet ifelse "if-else-fi statement" b
if ${2:[[ ${1:condition} ]]}; then
	${3:#statements}

else
	${4:#statements}
fi

${0}
endsnippet

